<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda INFO3M</title>

    <link rel="stylesheet" href="/styles/bootstrap.min.css">

    <style>
        input,
        select,
        textarea {
            border-color: rgba(255, 255, 255, 0.15) !important;
            background-color: transparent !important;
            color: #F8F9FA !important;
        }
    </style>
</head>

<body class="container-fluid bg-dark p-0 m-0 text-light">
    <% if (data != null) { %>
        <%- include('../partials/navbar') %>
        <div class="w-100 h-100" id="wrapper">
            <%- include('../partials/content/home', {data: data}) %>
            <%- include('../partials/content/novaAtividade', {data: data.subjects}) %>
        </div>
    <% } else { %>
        <%- include('../partials/loading') %>
    <% } %>

    <script src="/scripts/jquery.min.js"></script>

    <script>
        if (window.location.pathname == "/") {
            window.location.replace("/app");
        } 
    </script>

    <script src="/scripts/jquery.mask.min.js"></script>
    <script src="/scripts/dayjs.min.js"></script>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="/scripts/home.js"></script>
</body>

</html>